

    <li><%= link_to "echogram",                 echogramdata_path %></li>
    <li><%= link_to "Haul",                     haulrecord_path %></li>
    <li><%= link_to "User",                     userrecord_path %></li>
    <li><%= link_to "Species",                  speciesrecord_path %></li>
    <li><%= link_to "Species composition",      speciescomposition_path %></li>


