<p id="notice"><%= notice %></p>

<h1>Species</h1>

<table>
  <thead>
    <tr>
      <th>Speciescode</th>
      <th>Scientificname</th>
      <th>Englishname</th>
      <th>Frenchname</th>
      <th>Spanishname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @species.each do |species| %>
      <tr>
        <td><%= species.speciesCode %></td>
        <td><%= species.scientificName %></td>
        <td><%= species.englishName %></td>
        <td><%= species.frenchName %></td>
        <td><%= species.spanishName %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


